---
import CognitoForm from '~/components/widgets/CognitoForm.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';
import contactSettings from '~/data/settings/contact.json';

const metadata = {
  title: contactSettings.heroTitle,
  description: contactSettings.introText,
};
---

<Layout metadata={metadata}>
  <HeroText tagline={contactSettings.heroTagline} title={contactSettings.heroTitle} />

  <section class="py-8 px-4 max-w-3xl mx-auto">
    <p class="text-center text-muted">{contactSettings.introText}</p>
  </section>

  <CognitoForm formId={contactSettings.cognitoFormId} />
</Layout>
